@inherits LayoutComponentBase

<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__copyright">
                <span>&copy; Copyright - Digital Master Institute</span>
                <span>/</span>
                <span><a href="#">REGULAMIN I POLITYKA PRYWATNOŚCI</a></span>
            </div>
            <div class="footer__credits">
                <span>Powered by <a href="https://siliconclasses.com" target="_blank">SiliconClasses.com</a></span>
            </div>
        </div>
    </div>
</footer>